/* Tailwind Core */
@import 'tailwindcss';

/* Metronic Components  */
@import './components/image-input.css';
@import './components/apexcharts.css';
@import './components/leaflet.css';
@import './components/rating.css';
@import './components/image-input.css';
@import './components/scrollable.css';

/* Demos */
@import './demos/admin.css';

/* ReUI Configs */
@import './config.reui.css';

/** Global Styles **/
@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }
}

/** Smooth scroll **/
html {
  scroll-behavior: smooth;
}

/** Custom Containers — override Tailwind defaults **/
@utility container {
  @apply mx-auto max-w-none px-4 lg:px-5;

  @media (width >= --theme(--breakpoint-xl)) {
    @apply max-w-(--breakpoint-xl);
  }
}

@utility container-fluid {
  @apply w-full mx-auto px-4 lg:px-5;
}

/** Custom scrollbar **/
@layer base {
  ::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.125rem;
    background-color: var(--input);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--ring);
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--input) transparent;
  }
}

/** Dark/Light Theme Variant **/
@custom-variant dark (&:is(.dark *));
@custom-variant light (&:not(.dark *));
